.direction {
padding-top: 90px;
padding-bottom: 90px;

}


.direction__inner {


}


.direction__heading {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 66px;
  color: #22343D;
text-align: center;
}


.direction__list {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 60px;

}



.direction__item {
  width: 100%;
max-width: 200px;

}


.direction__img {
width: 100%;
max-width: 50px;
height: 50px;
margin-bottom: 30px;
}


.direction__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: #22343D;
  margin: 0;
margin-bottom: 13px;
}


.direction__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #22343D;
margin: 0;
}


.direction__button {
  display:block;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  background: #02897A;
  border-radius: 4px;
  padding: 15px 33px;
  text-decoration: none;
border: none;
}

@media only screen and (max-width: 576px) {
  .direction__list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    flex-direction: column;
  
  }

  .direction__item{
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .direction__img{
    margin: 0 auto;
    margin-bottom: 20px;
  }

}


@media only screen and (max-width: 380px) {


}