.site-header {
padding-top: 19px;
padding-bottom: 19px;

}



.site-header__inner {
display: flex;
align-items: center;
}


.site-header__logo__link {
text-decoration: none;


}

.site-header__logo{
  width: 100%;
  max-width: 163px;
  height: 30px;
}


.menu {
margin-left: auto;


}


.menu__list {
display: flex;
align-items: center;
list-style-type: none;
padding-left: 0;
margin: 0;


}


.menu__item {
  margin-left: 40px;

}




.menu__link {
text-decoration: none;
font-weight: 600;
font-size: 16px;
line-height: 28px;
color: #22343D;
}

.menu__item:nth-child(1){
  margin-left: 0;
}


.menu__item:nth-child(5){
  margin-left: 24;
}


.menu__button__item{
  width: 100%;
  max-width: 102px;
  text-decoration: none;
  font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #173A56;
border: 1px solid #BCD0E5;
border-radius: 4px;
padding: 10px 24px;
}

.menu__button__item--active{
  color: #FFFFFF;
  background: #02897A;
border-radius: 4px;
}


.site-header__btn{
border: none;
background-color: transparent;
margin-left: 10px;
}

.button{
  display: none;
  background-color: transparent;
  border: none;
  padding: 0;
}


@media only screen and (max-width:576px){

 .site-header__logo__link{
   margin-right: auto;
 }

 .menu{
   display: none;
 
 }
.button{
  margin-left: auto;
  display: block;
}

.site-header__btn{
  display: none;
}

}